@import 'https://fonts.googleapis.com/css?family=Open+Sans';

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

header {
	margin-top: 3%;
}

html {
	scroll-behavior: smooth;
  }
  
.menudiv {
	position: relative;
	height: 80px;
	background-color: #383838;
	width: 100%;
	border: none;
	border-radius: 10px;
}

.menubutton {
	height: 80px;
	transition-duration: 0.2s;
	cursor: pointer;
	display: inline-block;
	margin-top: 0;
	margin-right: 2%;
	margin-left: 2%;
	width: 110px;
	font-size: 14px;
	color: #efe;
	background: transparent;
	border: none;
}

.menubutton:hover {
	background-color: #424242;
	transform: scale(1.05);
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 16px;
	background-color: #282828;
	color: #eee;
	text-align: center;
}

::-moz-selection { 
  color: #232;
  background: #ccffcf;
}

::selection {
    color: #232;
    background: #ccffcf;
}

h1 {
	font-size: 40px;
	line-height: 34px;
}

p {
	font-size: 16px;
	color: #efffef;
}

h3 {
	font-size: 19px;
	color: #eeefed;
	text-decoration: bold;
}


div.simple {
	width: 100%;
	height: 109em;
}

iframe.simple {
	width: 99%;
	height: 100%;
	z-index: 500;
}

.simple {
	background: transparent;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 50px;
	border-style: none;
}

hr {
	opacity: 0;
	padding-bottom: 20px;
}

a {
	/*font-size: 10px;*/
	text-decoration: underline;
	color: #889977;
	transition: 0.3s;
}

a[href]:hover {
	color: #eef;
}

footer {
	margin-top: 20%;
}

.container {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: #353535;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.container2 {
	position: absolute;
	top: 6%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 30px;
	border-radius: 10px;
	background-color: #3f3f3f;
	max-width: 50%;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	z-index: 9999;
	display: block;
/*	opacity: 0;*/
	transition: opacity 0.2s ease-in-out;
}

tr {
	opacity: 1;
	transition-duration: 0.2s;
}

tr:hover {
	opacity: 0.8;
	transform: scale(1.05);
}



/*Following is for the table:*/

table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 20px;
	text-align: center;
	border-radius: 10px;
	overflow: hidden;
}

td {
	padding: 10px 15px;
	text-align: center;
	border-top: 1px solid #888;
}

th {
	padding: 10px 15px;
	text-align:center;
	border-bottom: 2px solid #666;
}

th:hover {
	cursor: pointer;
	background-color: #555;
}

.asc::after {
	content: " ▲";
}

.desc::after {
	content: " ▼";
}

  /*Hover effect*/
tr:hover {
	background-color: #454545;
	opacity: 0.92;
	transform: scale(1.01);
}


/*FOR THE DIALOG*/

.infodialog {
	position: absolute;
	left: 10%;
	margin-top: 185px;
	margin-bottom: 5px;
	padding: 30px;
	border: none;
	border-radius: 10px;
	background-color: #353535;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

/*Why the fuck is this not working?????*/
button[name="theme-toggle-btn"] {
	position: absolute;
	right: 20px;
	background-color: transparent;
	border: none;
	border-radius: 3px;
	color: #aaabaa;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  button[name="theme-toggle-btn"]:hover {
	background-color: #797979;
	color: #111;
  }

img {
    display: block;
    height: 50px;
    margin: 0 auto;
  }

img:hover {
        opacity: 0.8;
        transform: scale(1.05);
}
