@import 'https://fonts.googleapis.com/css?family=Open+Sans';

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

header {
	margin-top: 3%;
}

html {
	scroll-behavior: smooth;
  } 

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 16px;
	background-color: #d5d5d5;
/*	background-image: linear-gradient(to right, #cdcdcd, #abacab , #ccc, #abacab, #cdcdcd);*//*wtf was I thinking??? (Actually kinda cool, but not really)*/
	color: #222;
	text-align: center;
}

::-moz-selection { /* (may not be relevant at all) Code for Firefox */
  color: #fff;
  background: #252;
}

::selection {
  color: #fff;
  background: #224420;
}


img {
	max-width: 80%;
}


 button {
    background: transparent;
    border: #d8d8d8;
    border-radius: 40px;
    color: #111;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    height: 120px;
    width: 120px;
    transition: background-color 0.3s ease-in-out;
  }

  #btn { /*may not be necessary*/
	z-index: 5;
	margin: 0 10px;
	cursor: pointer;
	transition: 0.2s;
  }


/*
  #btn img {
    transition: 0.2s;
  }

  #btn img:hover {
    opacity: 0.8;
    transform: scale(1.2);
  }
*/


  #btn:hover {
	opacity: 0.8;
	transform: scale(1.05);
	color: #121;
  }

h1 {
	font-size: 40px;
	line-height: 34px;
}

p {
	font-size: 16px;
	color: #121;
}

h3 {
	font-size: 16px;
}


div.simple {
	width: 99%;
	height: 107em;
}

iframe.simple {
	/*width: 98%;*/
	height: 100%;
}

.simple {
	background: transparent;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 50px;
	border-style: none;
}

hr {
	opacity: 0;
	padding-bottom: 20px;
}

a {
	/*font-size: 10px;*/
	text-decoration: underline;
	color: #010;
	transition: 0.3s;
}

a[href]:hover {
	color: #465;
}

footer {
	margin-top: 20%;
}


      .container {
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 30px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      }

.container2 {
	position: absolute;
	top: 30em;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 30px;
	border-radius: 10px;
	background-color: #eee;
	max-width: 30%;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	z-index: 9999;
	display: block;
/*	opacity: 0;*/
	transition: opacity 0.2s ease-in-out;
}

tr {
	opacity: 1;
	transition-duration: 0.2s;
}

tr:hover {
	opacity: 0.8;
	transform: scale(1.05);
}
