@import 'https://fonts.googleapis.com/css?family=Open+Sans';

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

header {
	margin-top: 3%;
}

html {
	scroll-behavior: smooth;
  }

.menudiv {
	position: relative;
	height: 80px;
	background-color: #e6e6e6;
	width: 100%;
	border: none;
	border-radius: 10px;
}

.menubutton {
	height: 80px;
	transition-duration: 0.2s;
	cursor: pointer;
	display: inline-block;
	margin-top: 0;
	margin-right: 2%;
	margin-left: 2%;
	width: 100px;
	font-size: 14px;
	color: #121;
	background: transparent;
	border: none;
}

.menubutton:hover {
	background-color: #c4c4c4;
	transform: scale(1.05);
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 16px;
	background-color: #d5d5d5;
/*	background-image: linear-gradient(to right, #cdcdcd, #abacab , #ccc, #abacab, #cdcdcd);*//*wtf was I thinking??? (Actually kinda cool, but not really)*/
	color: #222;
	text-align: center;
}

::-moz-selection { /* (may not be relevant at all) Code for Firefox */
  color: #fff;
  background: #252;
}

::selection {
  color: #fff;
  background: #224420;
}


img {
	max-width: 70%;
}

/*
button {
  background: transparent;
  border: #d8d8d8;
  border-radius: 40px;
  color: #111;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  padding: 10px 40px;
  height: 120px;
  width: 160px;
  transition: background-color 0.3s ease-in-out;
}
*/
/*
#btn {
	width: 160px;
	z-index: 5;
	margin: 0 30px;
	cursor: pointer;
	transition: 0.2s;
}



#btn img {
  transition: 0.2s;
}

#btn img:hover {
  opacity: 0.8;
  transform: scale(1.2);
}



#btn:hover {
	opacity: 0.8;
	transform: scale(1.05);
	color: #121;
}

*/

h1 {
	font-size: 40px;
	line-height: 34px;
}

p {
	font-size: 16px;
	color: #121;
}

h3 {
	font-size: 16px;
}


div.simple {
	width: 100%;
	height: 109em;
}

iframe.simple {
	width: 99%;
	height: 100%;
	z-index: 500;
}

.simple {
	background: transparent;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 50px;
	border-style: none;
}

hr {
	opacity: 0;
	padding-bottom: 20px;
}

a {
	/*font-size: 10px;*/
	text-decoration: underline;
	color: #010;
	transition: 0.3s;
}

a[href]:hover {
	color: #465;
}

footer {
	margin-top: 20%;
}


.container {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.container2 {
	position: absolute;
	top: 6%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 30px;
	border-radius: 10px;
	background-color: #eee;
	max-width: 50%;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	z-index: 9999;
	display: block;
/*	opacity: 0;*/
	transition: opacity 0.2s ease-in-out;
}

tr {
	opacity: 1;
	transition-duration: 0.2s;
}

tr:hover {
	opacity: 0.8;
	transform: scale(1.05);
}



/*Following is for the table:*/

table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 20px;
	text-align: center;
	border-radius: 10px;
	overflow: hidden;
}

th, td {
	padding: 10px 15px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

th:hover {
	cursor: pointer;
	background-color: #f5f5f5;
}

.asc::after {
	content: " ▲";
}

.desc::after {
	content: " ▼";
}

  /*Hover effect*/
tr:hover {
	background-color: #e5e5e5;
	opacity: 0.92;
	transform: scale(1.01);
}

/*FOR THE DIALOG*/

.infodialog {
	position: absolute;
	left: 10%;
	margin-top: 185px;
	margin-bottom: 5px;
	padding: 30px;
	border: none;
	border-radius: 10px;
	background-color: #e6e6e6;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

button[name="theme-toggle-btn"] {
	position: absolute;
	right: 20px;
	background-color: transparent;
	border: none;
	border-radius: 3px;
	color: #111211;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  button[name="theme-toggle-btn"]:hover {
	background-color: #a1a1a1;
  }
  