@import 'https://fonts.googleapis.com/css?family=Open+Sans';

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

header {
	margin-top: 3%;
}

html {
	scroll-behavior: smooth;
  } 

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 16px;
	background-color: #d5d5d5;
/*	background-image: linear-gradient(to right, #cdcdcd, #abacab , #ccc, #abacab, #cdcdcd);*/
	color: #222;
	text-align: center;
}

::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: #252;
}

::selection {
  color: #fff;
  background: #252;
}

img {
	max-width: 100%;
}

 button {
    background: transparent;
    border: #d8d8d8;
    border-radius: 40px;
    color: #111;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    height: 120px;
    width: 120px;
    transition: background-color 0.3s ease-in-out;
  }

  #btn { /*maybe not necessary*/
    z-index: 5;
    margin: 0 10px;
    cursor: pointer;
	transition: 0.2s;
  }

  #btn img {
    transition: 0.2s;
  }
/*
  #btn img:hover {
    opacity: 0.8;
    transform: scale(1.2);
  }
*/
  #btn:hover {
/*    background-color: #090909;*/
	opacity: 0.8;
	transform: scale(1.05);
	color: #121;
  }

h1 {
	font-size: 40px;
	line-height: 34px;
}

p {
	font-size: 16px;
	color: #121;
}

h3 {
	font-size: 16px;
/*	line-height: 27px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #D8D8D8;
	border-top: 1px solid #D8D8D8;*/
}

/*
h3:hover {
	color: #111;
}
*/

div.simple {
	width: 99%;
	height: 900px;
}

iframe.simple {
	width: 98%;
	height: 100%;
}

.simple {
	background: transparent;
/*	min-height: 180%;*/
	margin: 0 auto;
	padding-top: 90px;
	padding-bottom: 90px;
	border-style: none;
/*	border-color: #ddd;
	border-width: 2px;
	border-radius: 10px;*/
}

hr {
	opacity: 0;
	padding-bottom: 20px;
}

a {
	font-size: 10px;
	text-decoration: none;
	color: #010;
	transition: 0.4s;
}

a[href]:hover {
	color: #465;
}

footer {
	margin-top: 20%;
}


      .container {
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 30px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      }

/*The floowoing is to be applied to the buttons*/


.container2 {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 30px;
	border-radius: 10px;
	background-color: #eee;
	max-width: 30%;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	z-index: 9999;
	display: block;
/*	opacity: 0;*/
	transition: opacity 0.2s ease-in-out;
}
/*.container2.show {
	opacity: 1;
}*/
